/* 全局样式 */
html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1366px;
}

.el-breadcrumb {
  margin-bottom: 17px;
  font-size: 12px;
}

.el-card {
  /* 覆盖原本的样式,尾部加上!important */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.el-table {
  margin-top: 15px;
  font-size: 12px;
}

.el-pagination {
  margin-top: 15px;
}

/* 该选择器需要全局设置! */
.el-cascader-menu {
  height: 270px;
}